.NavBar-container {
    display: flex;
    flex-direction: row;
    padding: 2px var(--s) 0px;
    /* background-color: rgb(247,252,208); */
    background-color: white;
    align-items: center;
    color: var(--black);
    font-size: 16px;
  }
  
  .NavBar-title {
    color: var(--black);
    font-size: 16px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .Navbar-Mainlink {
    color: var(--black);
    opacity: 1;
    text-decoration: none;
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--black);
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link {
    justify-content: center;
  }
  
  .LoginButton {
    margin-left: auto;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }